In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('../src')

import numpy as np
import pandas as pd
import tensorflow as tf

from spark import SparkSessionFactory, read_csv, write_csv, column_values, train_test_split, shuffle_df
from util import remove_dir


import pyspark.sql.types as t
import pyspark.sql as s
import pyspark.sql.functions as f

# Prepare model input data

**Step 1**: Create a predefined spack session. this is used to create a pipeline that build the model input features.

In [3]:
session = SparkSessionFactory.create()
session

In [4]:
session.sparkContext.getConf().getAll()

[('spark.driver.host', 'skynet.local'),
 ('spark.executor.instances', '12'),
 ('spark.executor.id', 'driver'),
 ('spark.executor.memory', '1G'),
 ('spark.app.name', 'recommendations'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.driver.port', '33947'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.memory', '4G'),
 ('spark.app.id', 'local-1613613115732'),
 ('spark.ui.showConsoleProgress', 'true')]

**Note**: When create a spark session this run a new spark cluster with one instance in localhost. You can monitor instance jobs clicking the **Spark UI** link.

**Step 2**: Load raw dataset to a spark dataset.

In [5]:
TEMP_PATH = './temp'
DATASET_PATH = f'{TEMP_PATH}/dataset'
TRAIN_PATH = f'{TEMP_PATH}/train'
VAL_PATH = f'{TEMP_PATH}/val'
TEST_PATH = f'{TEMP_PATH}/test'

In [6]:
dataset = read_csv(session, f'{DATASET_PATH}/*.csv')

In [7]:
dataset = shuffle_df(dataset)

**Step 2**: Get all users and movies ids and let's see how many elements has each.

In [8]:
n_users = dataset.select('user_seq').distinct().count()
n_movies = dataset.select('movie_seq').distinct().count()

print(f'Train users: {"{:,}".format(n_users)}.')
print(f'Train movies: {"{:,}".format(n_movies)}.')

Train users: 7,474.
Train movies: 40,099.

**Step 4:** Let's see all dataset columns.

In [9]:
dataset.columns

['rating',
 'user_id',
 'movie_id',
 'gen_comedy',
 'gen_children',
 'gen_western',
 'gen_thriller',
 'gen_romance',
 'gen_action',
 'gen_musical',
 'gen_imax',
 'gen_animation',
 'gen_fantasy',
 'gen_horror',
 'gen_film_noir',
 'gen_war',
 'gen_drama',
 'gen_mystery',
 'gen_sci_fi',
 'gen_none',
 'gen_crime',
 'gen_documentary',
 'gen_adventure',
 'user_seq',
 'movie_seq']

In [18]:
dataset_part, _ = train_test_split(dataset, test_size=0.8)

train_set, val_test_sets = train_test_split(dataset_part, test_size=0.3)
val_set, test_set = train_test_split(val_test_sets, test_size=0.3)

In [19]:
print(f'Train set size: {"{:,}".format(train_set.count())} samples.')
print(f'Validation set size: {"{:,}".format(val_set.count())} samples.')
print(f'Test set size: {"{:,}".format(test_set.count())} samples.')

Train set size: 3,497,798 samples.
Validation set size: 1,048,802 samples.
Test set size: 450,773 samples.

In [20]:
from sklearn.preprocessing import LabelEncoder

class Sequencer:
    def __init__(self):
        self.sequence = -1
        self.mapping = {}

    def __call__(self, value):
        if value in self.mapping:
            return self.mapping[value]

        self.sequence += 1
        self.mapping[value] = self.sequence
        return self.sequence

user_seq = f.udf(Sequencer(), t.IntegerType())
movie_seq = f.udf(Sequencer(), t.IntegerType())

In [21]:
def show_user_movie(data_set):
    return data_set \
        .select(f.col('user_seq'), f.col('movie_seq')) \
        .limit(5) \
        .toPandas()

In [22]:
show_user_movie(train_set)

   user_seq  movie_seq
0        17       1886
1      1483       4973
2      2678       1360
3      2779       7923
4      2937        711

In [23]:
train_set = train_set \
    .withColumn('user_seq', user_seq(f.col('user_id'))) \
    .withColumn('movie_seq', movie_seq(f.col('movie_id')))

show_user_movie(train_set)

   user_seq  movie_seq
0         0          0
1         1          1
2         2          2
3         3          3
4         4          4

In [24]:
show_user_movie(val_set)

   user_seq  movie_seq
0      2892       9945
1      4245       4813
2      4951       6621
3      5693       4931
4       311        199

In [25]:
val_set = val_set \
    .withColumn('user_seq', user_seq(f.col('user_id'))) \
    .withColumn('movie_seq', movie_seq(f.col('movie_id')))

show_user_movie(val_set)

   user_seq  movie_seq
0         0          0
1         1          1
2         2          2
3         3          3
4         4          4

In [26]:
show_user_movie(test_set)

   user_seq  movie_seq
0      2824       1599
1      2199       1740
2      1410       7188
3      1003        675
4      3814      10018

In [27]:
test_set = test_set \
    .withColumn('user_seq', user_seq(f.col('user_id'))) \
    .withColumn('movie_seq', movie_seq(f.col('movie_id')))

show_user_movie(test_set)

   user_seq  movie_seq
0         0          0
1         1          1
2         2          2
3         3          3
4         4          4

Get only test and val sampes for users an movies that appears in the train set:

In [28]:
user_movies_seqs = train_set.select('user_seq', 'movie_seq').distinct()

In [29]:
val_set_count_before = val_set.count()

In [30]:
val_set2 = val_set \
    .alias("d1") \
    .join(user_movies_seqs.alias("d2"), ['user_seq', 'movie_seq'], how='inner') \
    .select("d1.*")

In [31]:
val_set_count_after = val_set2.count()

Filter valication samples for movies and users that exist in train set:

In [32]:
val_set_count_before, val_set_count_after

(1048595, 304124)

In [33]:
print('Filtered:', abs(val_set_count_before - val_set_count_after))

Filtered: 744471

In [34]:
test_set_count_before = test_set.count()

In [35]:
test_set2 = test_set \
    .alias("d1") \
    .join(user_movies_seqs.alias("d2"), on=['user_seq', 'movie_seq'], how='inner') \
    .select("d1.*")

In [36]:
test_set_count_after = test_set2.count()

Filter test samples for movies and users that exist in train set:

In [37]:
test_set_count_before, test_set_count_after

(450849, 185242)

In [38]:
print('Filtered:', abs(test_set_count_before - test_set_count_after))

Filtered: 265607

In [39]:
print(f'Train set size: {"{:,}".format(train_set.count())} samples.')
print(f'Validation set size: {"{:,}".format(val_set2.count())} samples.')
print(f'Test set size: {"{:,}".format(test_set2.count())} samples.', )

Train set size: 3,497,806 samples.
Validation set size: 304,459 samples.
Test set size: 199,967 samples.

In [40]:
remove_dir(TRAIN_PATH)
remove_dir(VAL_PATH)
remove_dir(TEST_PATH)

'./temp/test'

In [41]:
write_csv(train_set, TRAIN_PATH)
write_csv(val_set2, VAL_PATH)
write_csv(test_set2, TEST_PATH)

In [42]:
session.stop()